/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.nav {
  background-color: #34495E;
  display: flex;
  /* position: fixed; */
  width: 100%;

  justify-content: space-between;

}

.nav ul {
  list-style-type: none;
  display: flex;
  margin: 1rem 4rem 1rem 0;


}

.nav ul li {
  position: relative;
}

.mobile {
  position: relative;

}

a {
  text-decoration: none;
}

.dropdown li {
  text-decoration: none;

  margin-bottom: 20px;
  padding: 1px 5px 2px 5px;

}

.dropdown {
  background-color: #34495E;
  display: flex;
  padding: 1rem 1rem 0 0;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  border-style: none none outset none;

}

.menuDropdown {
  background-color: #34495E;

  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 19rem;
  margin-left: -12rem;
  border-style: none none outset none;
}

.menuDropdown li {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-wrapper {

  background-color: white;
  width: 30%;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  height: 3rem;
  padding: 0 15PX;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

.input-wrapper input {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  width: 100%;
  margin: -3px 0 0 5px;
  outline: none;
}

.mobile .input-wrapper {
  display: flex;
  width: 15rem;
  margin: auto;
  margin-left: -10rem;
  z-index: 999;
  position: absolute;
}

/* card */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: larger;
}

.card-category {
  font-size: small;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-text {
  font-size: x-small;
}



.user-detail {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  height: auto;
  font-family: Arial, Helvetica, sans-serif
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 100%;
  background-color: white;
  box-shadow: 4px 0 0 5px #ddd;
  font-size: x-large;
  padding: 5rem 0.5rem 2rem 1rem;
}

.user-image {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.user-image img {
  padding: 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 30px;

}

.form-body {
  padding: 5rem;
  background: rgb(151, 178, 178);
  background: linear-gradient(0deg, rgba(151, 178, 178, 1) 00%, rgba(255, 255, 255, 1) 100%);
  box-shadow: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  text-decoration: solid;
  font-weight: 800;
  border-radius: 5%;

}

.htmlForm-group {

  margin: 0 0 20px 0;
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.htmlForm-group input {
  max-width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 20px;

}

.detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: space-evenly;
  height: auto;
}

.item-info {
  display: flex;
  background-color: white;
  box-shadow: 10px 0 0 5px #ddd;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 100%;

}

.item-image {
  padding: 2rem;
  max-width: 100%;

}

.item-image img {
  height: auto;
  max-width: 100%;
}

.item-name {
  font-size: 5rem;
  font-family: Sedan;

}

.price-category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 10px 2rem 0;
}

.item-price {
  margin: 0 5rem 0 0;
}

.item-description {
  align-self: flex-start;
  margin: 0 0 30px 0;
}

.item-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 5px;
}

.btn1 {

  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn1:hover {
  background-color: red;
}


/* uploaditem form */
.uploadItem-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;

}

.page-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
  font-family: 'Times New Roman', Times, serif;
}

.upload-itemForm {
  border-radius: 1rem;
  width: 90%;
  background: rgb(151, 178, 178);
  background: linear-gradient(0deg, rgba(151, 178, 178, 1) 00%, rgba(255, 255, 255, 1) 100%);
}

.upload-itemForm input {
  margin: 0 0 1rem 0;
}

.upload-itemform {
  font-weight: bold;
  padding: 1rem 5rem 0 5rem;
}

/* @media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
} */

/* @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
} */

/* @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width:450px) {
  .admin-container {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: column;
  } */

.sub-container {
  width: 100%;
  height: 10rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem;
  border-color: #282c34;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 whitesmoke;
  text-align: center;
}

.content {
  font-size: large;
  font-weight: bold;

}

/* order part */

.order-container {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  flex-direction: column;


}

.order-card {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  height: auto;
  margin: 0 0 2rem 0;
  border-radius: 1rem;
  background-color: #eae8e8;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem whitesmoke;

}

.order-info {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.info-content {
  width: 100%;
}


.id {

  display: flex;
  flex-direction: column;
}


.admin-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.sub-container {
  width: 100%;
  padding: 2rem 0 2rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 10px 4px 0 rgb(5, 5, 5);
  margin: 1rem 5rem 0 5rem;

}

.content {
  font-size: larger;
  font-weight: bold;

}

/* admin/ orderlist */
.order-card {
  width: 100%;
  border-radius: 1rem;
  background-color: #eae8e8;
  margin: 0 0 2rem 0;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem whitesmoke;

}

.order-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

}

.order-id {
  font-size: large;
  font-weight: bold;
}

/* admin itemlist */

.action {
  display: flex;
  justify-content: space-evenly;
}

.item-list {
  margin-top: 1rem;
}

/* 
pop up form */

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.popup-inner label {
  display: block;
  margin-bottom: 10px;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.border {
  border-radius: 1rem;
  font-weight: 500;
}